h1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    opacity: 0.50;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2.brushes {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

h2.frames {
    background-color: lightcoral;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}   

h2.paint {
    background-color: skyblue;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

id.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}


























